*{
    padding: 0px;
    margin: 0px;
    outline: none;
    box-sizing: border-box;
}
:root{
    --black: #131716;
    --green-100: #B4C4C3;
    --green-200: #899E8F;
    --green-300: #4C6869;
    --green-400: #203526;
    --lightbshadow: rgba(0,0,0,0.9);
}
body{
    background: var(--green-300);
    font-family: 'Roboto', serif;
}
.header{
    height: 180px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header img{
    height: 80px;
    margin-bottom: 12px;
}
.header .content P{
    color: var(--green-200);
    font-weight: bold;
    font-size : 14px;
    margin-bottom: 12px;
}
.bar-content{
    height: 40px;
    width: 100%;
    margin: 0 0 26px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: move 3s linear infinite; */
    position: relative;
}
.bar{
    width: 90%;
    height: 2px;
    background: var(--green-100);
}
.bar::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--green-400);
    border-radius: 8px;
    animation: Spin 2s linear infinite;
    transform: translateY(-50%);
    animation: move 5s linear infinite;
}
.container{
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.container .card{
    height: 350px;
    width: 320px;
    background: var(--black);
    padding: 10px;
    box-shadow: 0px 6px 15px var(--lightbshadow);
    border-radius: 8px;
    border: solid 1px var(--green-400);
}
.container .card h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto serif', serif;
    color: var(--green-200);
    padding-bottom: 12px;
}
.container .card input{
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    border-radius: 4px;
    border: none;
    background: var(--green-200);
    color: var(--green-400);
    padding-left: 10px;
    font-weight: bold;
}
.resultado p{
    color: var(--green-200);
}

